lib
__pycache__/
.idea/
.vscode/
**/dist/
**/node_modules/
test/coverage/
**/tmp/*
bridges/python/.venv/*
downloads/*
logs/*
server/src/config/**/*.json
bin/deepspeech/*
bin/flite/*

*.pyc
.DS_Store
*.sublime-workspace
npm-debug.log
debug.log
.env
!**/.gitkeep
!bridges/python/.venv/.gitkeep
!**/*.sample*
packages/**/config/config.json
packages/**/data/db/*.json
server/src/data/expressions/classifier.json
app/js/main.js
package.json.backup
.python-version
pyvenv.cfg
bin/activate
bin/activate_this.py
bin/activate.csh
bin/activate.fish
bin/activate.ps1
bin/activate.xsh
bin/chardetect
bin/easy_install
bin/easy_install-3.8
bin/easy_install3
bin/easy_install3.8
bin/pip
bin/pip-3.8
bin/pip3
bin/pip3.8
bin/pipenv
bin/pipenv-resolver
bin/python
bin/python3
bin/python3.8
bin/pytube
bin/virtualenv
bin/virtualenv-clone
bin/wheel
bin/wheel-3.8
bin/wheel3
bin/wheel3.8
